<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="a_ctive"><a href="/">All</a></li>
        <li><a href="/myPolls">My Polls</a></li>
        <li><a href="/newPoll">New Poll</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/logout">
                <button type="button" class="btn btn-default navbar-btn" style='padding-top:5px; padding-bottom:3px;'>Logout</button>
            </a>
        </li>
    </ul>
</div>